<!DOCTYPE HTML>
<!--
    BY @TRINITY GROUP
	LICENSE FOR NEO COMPETITION
-->
<html>
	<head>
		<title>NEO Competition</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/bundle.js"></script>
        <script src="assets/js/user.js"></script>
        <script src="assets/js/channel.js"></script>
        <script src="assets/js/video.event.js"></script>
        <script src="assets/js/main.js"></script>
	</head>

	<body>
        <!-- header -->
        <header id="header" class="alt">
            <div class="inner">
                <h1>NEO Over TRINITY</h1>
                <p>Free Demo for NEO Competition over Trinity Networks</p>
            </div>
            <ul><li class="useraction"></li></ul>
        </header>

    <!-- Wrapper -->
        <div id="wrapper">
            <!-- Banner -->
            <!-- Items -->
            <section class="main items">
                <article class="item">
                    <video controls alt="" >
                        <source src="videos/sample01.mp4" type="video/mp4">
                    </video>
                    <p>Video Sample. Fee: 1 TNC/Min</p>
                    <ul class="actions">
                        <li><a href="#" class="button">More</a></li>
                    </ul>
                </article>

                <article class="item">
                    <video controls alt="" >
                        <source src="videos/sample01.webm" type="video/webm">
                    </video>
                    <p>Video Sample. Fee: 1 TNC/Min</p>
                    <ul class="actions">
                        <li><a href="#" class="button">More</a></li>
                    </ul>
                </article>
            </section>

            <!-- CTA -->
            <section id="cta" class="main special">
                <span class="icon major"></span>
                <h2>TRINITY NETWORK</h2>
                <p>Trinity acts as a lightning network for NEO in order to achieve real-time payments. <br />
                    Using state channel technology, Trinity will significantly increase BlockChain<br />
                    throughput for NEP-5 token transfers.</p>
                <ul class="actions">
                    <li><a href="#" class="button big">Learn More</a></li>
                </ul>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; Untitled. Design: <a href="#">TRINITY GROUP</a>.</p>
            </footer>

        </div>
	</body>
</html>
