div(id="footer", class="container-fluid footer-background")
    div(class="container")
        footer
            div(class="row copyright-bottom text-center")
                div(class="col-md-12 text-center")
                    p() Copyright &copy; 2018.公司保留所有版权权力.
                        a(target="_blank", href="#") Trinity APP Group