extends ./layout

block content
    div(class="col-lg-12 col-md-12 col-sm-12")
        div(class="row")
            div(class="col-lg-3 col-md-2 col-sm-2")
            div(class="col-lg-6 col-md-8 col-sm-8")
                div(class="register-form")
                    h2(class="title main-head-title") 用户登录
                    form(method="post", data-abide, novalidate)
                        div(class="row")
                            div(class="col-lg-2 col-md-2 col-sm-2")
                                p 用户名：
                            div(class="col-lg-10 col-md-10 col-sm-10")
                                div(class="input-group")
                                    span(class="fa fa-user login-inputicon")
                                    input(type="text", name='name', placeholder="输入你的用户名", required)
                        div(class="row")
                            div(class="col-lg-2 col-md-2 col-sm-2")
                                p 密码：
                            div(class="col-lg-10 col-md-10 col-sm-10")
                                div(class="input-group")
                                    span(class="fa fa-lock login-inputicon")
                                    input(type="password", name='password', id='password', placeholder="输入你的密码", required)
                        div(class="login-btn-box")
                            button(class="access-btn", type="submit") 登录
            div(class="col-lg-3 col-md-2 col-sm-2")